<h1><%= @restaurant.name %> infos</h1>

<%= @restaurant.address %>
<br>
<%= @restaurant.phone_number %>
<br>
<%= @restaurant.category %>
<br>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.rating %> - <%= review.content %></p>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

<%= link_to "back to list", restaurants_path %>

